h1{
  color: blue
}
h2{
  color: gold
}
h3{
  color: purple
}
h4{
  color:red
}
body{
  background:url("../assets/背景.jpg");
  background-size:cover;
  background-repeat:no-repeat;

}
